@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  width: 1200px;
  margin: auto;
}
/* 상단 */
.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 48, 87);
}
.header h1 {
  font-style: oblique;
  padding-left: 30px;
  color: aliceblue;
}
.menu {
  background-color: rgb(18, 48, 87);
}
.munu-ul{
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
}
ul li {
  list-style: none;
  padding: 15px 40px;
  background-color: rgb(112, 121, 121);
  color: antiquewhite;
  font-weight: bold;
}

/* 메인 */
/* 하단 */
