@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  width: 1200px;
  margin: auto;
}
/* 상단 */
.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 48, 87);
}
.header h1 {
  font-style: oblique;
  padding-left: 30px;
  color: aliceblue;
}
.menu {
  background-color: rgb(18, 48, 87);
}
.munu-ul {
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
}
ul li {
  list-style: none;
  padding: 15px 40px;
  background-color: rgb(112, 121, 121);
  color: antiquewhite;
  font-weight: bold;
}
/* 메인 상단*/
.main {
  background-color: rgb(190, 178, 194);
}
.main-top {
  padding: 70px;
}
h2{
  margin-bottom: 20px;
}
.healing-img {
  display: flex;
  gap: 20px;
}
.healing-img > img {
  width: 500px;
  border-radius: 15px;
}
.healing-text {
 width: 500px;
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.healing-text-h3 {
  margin-bottom: 10px;
}
.healing-text > h4 {
  
}
.main-top > h3 {
  padding: 20px;
}
.healing-text-h4 {
  margin-top: 100px;
  padding-bottom: 10px;
}

/* 메인하단 */
.img-wrap {
  width: 500px;
  height: 321px;
  overflow: hidden;
  border-radius: 10px;
}
.img-wrap img {
  width: 100%;
  transition: all 0.3s;
}
.img-wrap:hover img {
  transform: scale(1.2);
}
